body {
  background-color: #0770a2;
}

.bubble-container {
  padding: 120px;
}

.product-default {
  width: 100vw;
  height: 100vh;
  background: url(../images/default-product.png) no-repeat center center fixed;
  background-size: contain;
}

.license {
  position: absolute;
  bottom: 0;
  color: #abb1aa;
  background-color: rgba(255, 255, 255, 0.9)
}

.license a {
  color: #abb1aa;
}
