body {
  background-color: #0770a2;
  margin-bottom: 60px;
}

.bubble-container {
  padding: 60px;
}

.btn-info {
  background: #82d9f7;
  border-color: #72bed8;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  background: #72bed8;
  border-color: #82d9f7;
}

.product-default {
  width: 100vw;
  height: 100vh;
  background: url(../images/default-product.png) no-repeat center center fixed;
  background-size: contain;
}

.license {
  position: absolute;
  bottom: 0;
  color: #abb1aa;
  background-color: rgba(255, 255, 255, 0.9)
}

.license a {
  color: #abb1aa;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #abb1aa;
  background-color: #5a5a5a;
  text-align: center;
  overflow: hidden;
}

  .footer a {
    color: #abb1aa;
  }

  .footer a:hover {
    color: #fff;
    text-decoration: none;
  }
